*{
    margin:0;
    padding:0;
    outline:none;
}
.clr{
    clear:both;
}
a{
    text-decoration: none;
}

body{
    font-family: 'Lato', sans-serif;
}
.container{
    width:1170px;
    margin:auto;
}
h2{
    font-weight: 700;
    color:#414042;
    font-size: 36px;
}
/* menu part css */
#menu{
    background: #131e29;
    
}
.logo{
    width:30%;
    float:left;
    padding:10px 0;
}
.menu_bar{
    width:70%;
    float:right;
}
.menu_bar ul{
    list-style-type: none;
    float:right;
    
}
.menu_bar ul li{
    float:left;
    padding:40px 10px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;  
}
.menu_bar ul li a{
    color:#fff;
    transition: .4s;
    -webkit-transition: .4s;
}
.menu_bar ul li a:hover{
    color:#45b9ea;
}
.fix{
    position: fixed;
    top:0;
    background: green;
}
/* banner part css */
#banner{
    background: url(../images/banner.jpg);
    padding:100px 0;
    background-position: center;
    background-size: cover;
    border-bottom: 3px solid #4bcaff;
}
.banner_part{
    width:50%;
    float:right;
}

.banner_part h3{
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    color:#f7f8f8;
    
    
}
.banner_part p{
    font-size: 12px;
    font-weight: 300px;
    text-transform: capitalize;
    padding:10px 0;
    line-height: 20px;
    color:#f7f8f8;
}
.banner_part_item{
    margin-top:30px;
    
    
    
}
.banner_part_item a{
    width:195px;
    height:65px;
    border-radius: 5px;
    font-size: 15px;
    border:2px solid #fff;
    margin-right: 5px;
    color:#fff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 65px;
    display: inline-block;
    transition: .4s;
    -webkit-transition: .4s;
}
.banner_part_item a:hover{
    background: #4bcaff;
    border-color:#4bcaff;
    box-shadow: 0px 5px 0px #4bcaff;
    
}
.banner_icon h3{
    font-size: 18px;
    font-weight: 400;
    color:#fff;
    padding:20px 0;
}
.banner_icon i{
    background: #181c21;
    height:60px;
    width:60px;
    margin: 0 10px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    color: #4bcaff;
}
/* Features part css */
#features{
    background: #f9f9f9;
    text-align: center;
    padding:40px 0 70px 0;
}

.features_header h2{
    font-weight:700;
    font-size: 36px;
    text-transform: capitalize;
    color:#414042;
   
}
.features_header p{
   padding-top: 20px;
   font-size: 20px; 
} 
.features_item{
    width:100%;
    margin-top: 50px;  
}
.features_main{
    width:25%;
    line-height: 30px;
    float:left;
}
.features_main i{
    background: #4bcaff;
    color:#fff;
    padding:50px 50px;
    font-size: 50px;
    border-radius: 50%;  
}
#chagne{
    padding:47px 60px;
}

.features_main h1{
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 30px 0;
}
.features_main:hover h1{
    color:#4bcaff;
    cursor: pointer;
}
.features_main p{
    font-size: 13px;
    color:#414042;
    font-weight: 400;
    text-align: center;
    padding:0 30px;
}
/* gallery part css*/
.gallery{
    text-align: center;
    padding-bottom: 87px;
    
}
.gallery_header{
    padding:60px 0;
}
.gallery_header h2{
    font-size: 36px;
    font-weight: 700px;
}
.gallery_header p{
    font-size: 20px;
    color:#414042;
    padding-top:20px;
}

.gallery_part{
    width:25%;
    padding:0 5px;
    box-sizing: border-box;
    float:left;
}
.gallery_main{
    position: relative;
}
.gallery_main .gallery_item{
    position: absolute;
    background: rgba(71, 152, 155, .8);
    left:0;
    right:0;
    bottom:3px;
    color: #4bcaff;
    font-size: 15px;
    padding:3px 0;
    font-weight: 700;
    border-radius: 5px;
}
.gallery_main img{
    width:100%;
    height:200px;
    border-radius: 5px;
}
.gallery_part p{
    font-size: 13px;
    color:#414042;
    width:240px;
    margin: 10px 0;
    text-align: center;
}

/* Action part css */
#action{
    width:100%;
    height:400px;
    background:#4bcaff;
    background-image: url(../images/img.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding:50px 0 0 0;
}
.action_part h2{
    font-size: 48px;
    font-weight: 300;
    color:#fff;
    text-align: center;
    
    
}
.action_part p{
    font-size: 18px;
    color:#fff;
    text-align: left;
    margin: 30px 200px 0 285px;      
}
/* Price part css */
#price{
    margin-top:50px;   
}
.price_part h2{
    text-align: center;
}
.price_part p{
    font-size: 20px;
    font-weight: 300;
    padding-top: 20px;
    text-align: center;
}
.price_item{
    float:left;
    box-sizing: border-box;
    text-align: center;
    margin-top:80px;
    list-style: none;
    padding:15px;
    
}
.price_main_one,
.price_main_three{
    width:30%;
    
}
.price_main_two{
    width:40%;
    margin-top:30px;
   
}
.price_content{
    border:1px solid #ddd;
    background: #f9f9f9;
    border-radius: 5px;
    
}
.price_content li{
    list-style-type: none;
    padding:10px 0;
    font-weight: 700;
    font-size: 18px;
}
.price_content p{
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
    color:#e7e7e7;      
}
.price_main_two .price_content p{
    color:#4bcaff;
    font-size: 22px;
}
.price_content h1{
    font-size: 85px;
    width:100%;
    height:100px;
    margin:25px 0;
}
.price_main_one .price_content h1{ 
    background:#91c46b;      
}
.price_main_two .price_content h1{
    background:#4bcaff;      
}
.price_main_three .price_content h1{
    background:#fd7c00;       
}
.price_main_one .price_content li{ 
    color:#e7e7e7;      
}
.price_main_two .price_content li{
    color:#4bcaff;     
}
.price_main_three .price_content li{
    color:#e7e7e7;        
}

.price_content a{
    width:160px;
    padding:20px 0;
    background: #91c46b;
    color:#fff;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    margin: 15px 0;
    display: inline-block;
}
.price_main_two .price_content a{
    background:#4bcaff;
    margin: 22px 0;
}
.price_main_three .price_content a{
    background:#fd7c00;        
}
/* testimonial part css */
#test{
    background: #ffffff;
    margin-top: 30px;
    padding:30px 0;
}
.test_part{
    text-align: center;
    font-size: 38px; 
    font-weight: 400;
}
.test_main{
     display: block;
}
.img{ 
    width:30%;
    float:left;
        
}
.img img{
   margin: 0 0 0 200px;
}
.prim{
    width:70%;
    float:right;
    margin-top: 42px;
    
}
.prim p{
    margin: 0 120px;
    line-height: 30px;
    
}
/* apps part css */
#demo{
    background:#414042;
    margin-top: 30px;
    padding:20px 0;
}
.demo_part{
    text-align: center;
    padding-top:20px;
}
.demo_part h2{
    font-size: 55px;
    font-weight: 700;
    color:#fff;
}
.demo_part a{
    font-size: 17px;
    font-weight: 700;
    background: #4bcaff;
    border:2px solid #4bcaff;
    color:#414042;
    margin: 20px 0;
    padding:30px 80px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 5px 0 #4bcaff;
    
}
/* map part css */
.map{
    position: absolute;
    margin-top: 250px;
    text-align: center;
}
.overlay{
    position: relative;
    width:350px;
    height:450px;
    background: rgba(100, 206, 238, .7);
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    
    
    
}
.main{
    margin-top: 30px;
}
.overlay h1{
    font-size: 30px;
    font-weight: 700px;
    color:#fff;
    text-align: center;
    margin-bottom: 20px;
}
.contact_form{
    text-align: center;
    
}
.contact_form input{
    margin: 10px 0;
}
.contact{
    width:300px;
    height:30px;
    text-align: center;
}
.mass{
    width:300px;
    height:100px;
    text-align: center;
}
.btn{
    height:30px;
    width:100px;
    background: #414042;
    color:#fff;
    border-radius: 5px;
    box-shadow: 0px 4px 0px #414042;
    cursor: pointer;
    
}



